@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100&display=swap');

:root {
    --bg: #343A40;
    --text: #FFF0CE;
    --btn: #FFC436;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
    background: var(--bg);
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
}


/* Header */
.header {
    position: static;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-top {
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 3%;
    align-items: center;
    border-bottom: 3px solid var(--text);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-top .logo a {
    height: 2rem;
    text-decoration: none;
    color: var(--text);
    font-style: italic;
    font-size: 2rem;
    font-family: Poppins;
}

.header-top .logo img {
    float: left;
}

.header-top .navbar-btn a {
    color: var(--text);
    padding: 0.8rem;
}

.header-top .navbar-btn a :hover {
    color: var(--btn);
}

.navbar-nav {
    background: var(--bg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    margin-left: 80px;
}

.navbar-nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 1.7rem;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: bold;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.navbar-nav a:hover {
    color: var(--btn);
    border-bottom: 1px solid var(--btn);
    padding-bottom: 15px;
}

.container {
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: flex-start;
}

/* sidebar */
.sidebar {
    width: 278px;
    /* background: var(--bg); */
    position: sticky;
    left: 0;
    top: 50px;
    z-index: 10;
    height: 100vh;
    border-right: 2px solid var(--text);
    justify-content: center;
    padding: 20px;
    display: flex;
    align-items: top;
    overflow: hidden;
}

.sidebar .nav {
    margin-top: 50px;
}

.sidebar .nav li {
    margin-bottom: 20px;
    display: block;
}

.sidebar .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    font-family: Poppins;
    color: #fff;
    padding: 5px 15px;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s
}

.sidebar .nav li a:hover {
    color: var(--btn);
    border-top: 1px solid var(--btn);
    border-bottom: 1px solid var(--btn);
}

.sidebar .nav li a i {
    margin-right: 15px;
}


/* Container */
.hero {
    min-height: 120vh;
    display: flex;
    align-items: flex-start;
    position: relative;
    /* padding-bottom: 50px; */
    justify-content: flex-start;
    margin-left: 10vh;
}

.hero .report {
    display: block;
    margin-top: 5vh;
}

.hero .report h2 {
    color: var(--text);
    font-family: Poppins;
    font-weight: 500;
    font-size: 35px;
}

.hero .content {
    padding: 1.2rem 7%;
    max-width: 50rem;
}

.hero .content h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(31, 40, 51);
    line-height: 1.2;
    font-family: Roboto;
}

.hero .content p {
    font-size: 1.1rem;
    margin-top: 1rem;
    line-height: 1.2;
    text-shadow: 1px 1px 3px rgb(214, 220, 237);
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1rem;
    color: #1f2833;
    background-color: var(--text);
    border-radius: .5rem;
    box-shadow: 1px 1px 3px rgba(31, 40, 51);
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.hero .content .cta:hover {
    color: var(--text);
    background-color: #1f2833;
}

/* Table */
.tabular--wrapper {
    background: #ffff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;

}

.tabular--wrapper1 {
    background: transparent;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table-container1 .form {
    width: 100%;
    background: transparent;
}

.table-container1 .form-1 {
    width: 100%;
    background: none;
    margin: 15px;
    border-radius: 80px;
    padding: 10px 60px;
    color: #ffff;
    width: 15%;
    border-bottom: 1px ridge var(--btn);
    border-top: 1px ridge var(--btn);
    font-size: 20px;
}


.table-container1 .form-1 input {
    border-radius: 20px;
    color: #1f2833;
    background: transparent;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
    padding: .5rem;
}

.table-container1 .form-1 select {
    border-radius: 20px;
    color: #1f2833;
    background: transparent;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(10px);
    padding: .5rem;
}

.table-container {
    width: 100%;
}

.table-container .view {
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1rem;
    color: #ffff;
    background-color: var(--bg);
    border-radius: .5rem;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    cursor: pointer;
    margin-bottom: 1.5rem;
}

.table-container .view:hover {
    color: var(--bg);
    background-color: var(--text);
}

.table-container1 .input {
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1rem;
    color: #1f2833;
    background-color: var(--text);
    border-radius: .5rem;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    cursor: pointer;
    margin-top: 1.5rem;
}

.table-container1 .input:hover {
    color: var(--text);
    background-color: var(--btn);
}

.hero .report .images {
    justify-content: space-between;
    display: flex;
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #a6b8cb;
    color: #1f2833;
}

th {
    padding: 5px 35px 5px 35px;
    text-align: left;
}

tbody {
    background: #EEF1F4;
}

td {
    padding: 20px;
    font-size: 14px;
    color: #1f2833;
}

tr:nth-child(even) {
    background: #fff;
}

trfoot {
    background-color: var(--bg);
    font-weight: bold;
    color: #1f2833;
}

tfoot td {
    padding: 15px;
}

/* .table-container button {
    color: green;
    background: none;
    cursor: pointer;
} */

.table-container tbody tr .tb-edit {
    color: #FFC436;
    text-decoration: none;
}

.table-container tbody tr .tb-hapus {
    color: red;
    text-decoration: none;
}



/* Footer */
footer {
    width: 100%;
    bottom: 0;
}

.footer-distributed {
    border-top: 3px solid var(--text);
    background-color: #343A40;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 30px 30px 50px;
    margin-top: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed .footer-left .Unsri {
    width: 38%;
}

.footer-distributed .footer-left .PB {
    width: 25%;
}

.footer-distributed h3 span {
    color: var(--btn);
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-distributed .footer-center {
    width: 35%;
}


.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: var(--btn);
    text-decoration: none;
    ;
}



.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 10px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}